NODE_ENV=development

BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

PORT=3000

DATABASE_URL=postgresql://user:password@host:5432/database?schema=public

JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_ACCESS_EXPIRES=1h
JWT_REFRESH_EXPIRES=7d

SALT=10

EMAIL_HOST=your_host
EMAIL_PORT=your_port
EMAIL_LOGIN=your_login
EMAIL_PASSWORD=your_password
EMAIL_TIMEZONE=Europe/Moscow

SHOP_ID=your_shop_id
API_PAYMENT_KEY=your_key
